[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Compositor
Comment=Picom
Exec=/usr/bin/picom -bGF
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

